@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black bg-gray-100 font-sans;
}

button {
  @apply m-0 whitespace-nowrap rounded-md bg-[#8f7a66] px-4 py-2 font-bold text-white outline-none disabled:cursor-not-allowed disabled:opacity-50 transition duration-150 ease-in-out;
}

.animate-appear {
  animation: appear 0.2s ease-in-out;
}

.animate-pop {
  animation: pop 0.2s ease-in-out;
}

@keyframes appear {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
